################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
.vs/cmacs-components-library/v15/.suo
.vs/VSWorkspaceState.json
